.searchbar
{
    background-color: #f0f0f0;
    width:fit-content;
    margin:2.5rem auto 4rem auto;
    border-radius:5px;
    padding:0.5rem;
}
.searchbar form
{
    display:flex;
    align-items: center;
}
.searchbar input
{
    background-color: #f0f0f0;
    outline:none;
    border: none;
}
.searchbar span
{
    padding-right:0.5rem;
    padding:0.5rem;
    cursor:pointer;
}
.searchbar button
{
    border:none;
    outline:none;
    border-radius: 5px;
    padding:0.3rem 1rem;
    background-color: #0f52ba;
    color:#fff;
}